body {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color:rgb(239, 163, 24);
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img{
    margin: 10px;
    height: 100px;
    width: 600px;
   
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
    
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    color: white;
    font-size: 35px;
  }